.status{
    padding: 7px;
    width: 70px;
    border-radius: 15px;
    background: grey;
    min-width: 50px;
    color: white;
    text-align: center;
    font-size: 14px;
}


.new{
    background: blue;
}
.active{
    background: green;
}
.inactive{
    background: grey;
}
.lock{
    background: red;
}


.btn{
    margin: 5px 0 5px 0 !important;
}